.row1{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
}

.row2{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 30px;
}
.slider_time{
    margin-top: 15px;
    height: 20px;
    font-size: 20pix;

}
.legend_row{
    margin-top: 20px;
    background: #839496;
    height: 40px;
    line-height: 40px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

.lbl_legend{
    color: #002b36;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1rem;
    overflow-wrap: hidden;
}

.legend_col1{
    font-family: Helvetica, sans-serif;
    font-weight: normal;
     font-size: 1rem;
     overflow: hidden;
}

.legend_col2{
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1rem;
    overflow: hidden;
}

.legend_col3{
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1rem;
}

.legend_col4{
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1rem;
}

.legend_col5{
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1rem;
}

.graph{
    border-color: #002b36;
}
.graph_row{
    border-color: #002b36;
}
.fig_plot{
    border-color: #002b36;
    background-color: #00b36;
}

.lbl_working{
    font-size: 20px;
    text-align: left;
}

.upload_input{
width: 100%;
border-style: solid;
border-width: 2px;
border-radius: 5px;
text-align: center;
margin-left: 1px;
font-size: 20px;
}

.lru_label{
    text-align: right;
}
.lru_text{
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    height: 25px;
}

